<p>
  This is your Register Page!
</p>
<label for="name">Name</label>
<br>
<input type="text" id="name" name="name" required>
<div>
<div>

<label for="email">Email</label>
<br>
    <input type="email" id="email" name="email" required>
    <div>
      <div>
        <label for="password">Password</label>
        <br>
    <input type="password" id="password" name="password" required>
    <div>
     
      <br>
      <br>
      <button type="submit">Register</button>
     
<br>
<br>
<button routerLink="/login">Already a member? Login Now.</button>
<br>
<br>
<button routerLink="/">Go to Home Page</button>